<section class="container-education">
        <app-card h1="Certificado"
        p="No tiene ninguna Certificacion"
        ruta="/assets/Certificado.svg"
        ></app-card>
        <app-card h1="Educacion" ruta="/assets/Educacion.svg">
                        <p class="text">
                                Primaria<br/>
                                Secundaria<br/>
                                Universidad: Cursando.
                        </p>
                   
        </app-card>
        <app-card h1="Idiomas"
        p=" Español: Nativo "
        ruta="/assets/Mundo.svg"
        ></app-card>
    
</section>