<footer class="footer">
    <ul class="container-li">
        <li>
            <img src="assets/reddit.svg" alt="reddit">
            <p>Reddit</p>
        </li>
        <li> 
            <img src="assets/telegram.svg" alt="telegram">
            <p>Telegram</p>
        </li>
        <li>
            <img src="assets/whatsapp.svg" alt="whatsapp">
            <p>Whatsapp</p>
        </li>
        <li>
            <img src="assets/facebook.svg" alt="facebook">
            <p>Facebook</p>
        </li>
        <li>
            <img src="assets/Git-logo.svg" alt="Github">
            <p>Github</p>
        </li>
       
     
       
       
       
   


    </ul>
</footer>