
<section ngClass="container">

<div class="container-image">
    <div class="circle">
        <div class="middle">
            <div class="center">

            </div>
        </div>
    </div>
    <h3>fall out boy - Pavlove</h3>
</div>


<div class="container-text">  
    <h2>¿Quien soy?</h2>
    <p>
        Hola, soy Julian, tengo 21 años, Vivo en Venezuela estado Lara, actualmente cursando la carrera de informatica. Me apasiona bastante el desarrollo web, el diseño y la tecnologia en general. Mis pasatiempos son ver anime y estudiar Musica.
    </p>

    <div class="container-contact">
        <div class="text-compuesto">
          <img src="assets/whatsapp.svg" alt="whatsapp"> 
          <strong> {{tlfno}} </strong> 
        </div>
        
        <div class="text-compuesto">
            <img src="assets/gmail.svg" alt="gmail">
             <strong>{{correo}}</strong> 
        </div>
        
    </div>
</div>


</section>

