.container{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    width: 100%;
    padding: 5rem 0;
    margin: 5rem 0;
    background-image: linear-gradient(to right,#0f0c29,#302b63,#24243e);
}

.container-text{
    font-family:  "Sedan SC", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    padding: 4rem 0;
    border-bottom: 3px solid magenta;
    border-radius: 15px;
    color: azure;

    & h2{
        text-align: center;
        font-size: 3.5rem;
        letter-spacing: 2px;
        margin: 3rem 0;
        padding: 1rem;
        text-shadow: 1px 1px 4px black;
    }

    & p{
        font-family: "Rubik", sans-serif;;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
}
