<section Class="container-technologies">

  <h2>Tecnologias que Manejo</h2>
  <div class="container-datatable">
    
    <table>
      <thead>
        <th>Tecnologias</th>
        <th>Referencia visual</th>
        <th>Dominio</th>
      </thead>
        <tr>
          <td>HTML</td>
          <td><img src="assets/html.svg" alt="HTML"></td>
          <td> 7/10</td>
        </tr>
        <tr>
          <td>CSS</td>
          <td><img src="assets/css.svg" alt="CSS"></td>
          <td> 7/10</td>
        </tr>
        <tr>
          <td>Javascript</td>
          <td><img src="assets/Javascript.svg" alt="Javascript"></td>
          <td> 7/10</td>
        </tr>
        <tr>
          <td>Angular</td>
          <td><img src="assets/Angular.svg" alt="Angular"></td>
          <td> 5/10</td>
        </tr>
        <tr>
          <td>tailwind</td>
          <td><img src="assets/tailwind.svg" alt="tailwind"></td>
          <td> 5/10</td>
        </tr>
      </table>
  </div>



      <h2>Tecnologias De gestion de trabajo</h2>

      <div class="container-cards">
        <app-card h1="Git" 
        p="Git es un software de control de versiones para los proyectos"
         ruta="assets/Git-logo.svg"></app-card>
        <app-card h1="Trello" 
        p="Trello es un software para la administración de proyectos." 
        ruta="assets/Trello-logo.svg"></app-card>
      </div>
</section>

